extends layout

block content
    .inner
        h2= title
        .map
            .autocomplete
                input.autocomplete__input(name="geolocate" type="text" placeholder="Search for anything")
